:root {
    --num-boxes: 16;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--num-boxes), 1fr);
    grid-template-rows: repeat(var(--num-boxes), 1fr);
    margin: 0 auto;
    border: 1px solid #000;
    height: 400px;
    width: 400px;
}

.clear {
    display: block;
    margin: 0 auto;
}

.square {
    display: block;
    background-color: #fff;

}

h1 {
    text-align: center;
}
